.dashboard {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar-open {
  margin-left: 250px;
}

.toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dashboard-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
